.header {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  border-bottom: 1px solid rgba(169, 169, 169, 0.5);
  color: rgb(50, 50, 50);
  position: fixed;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  transition: box-shadow 0.1s;

  .burger-logo {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 100px;

    .burger {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;

      img {
        width: 20px;
        height: auto;
        opacity: 0.7;
      }
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 35px;
        height: auto;
      }
      p {
        font-size: 18px;
        cursor: default;
      }
    }
  }

  .search-form {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: relative;

    .search {
      width: 100%;
    }

    input {
      width: 100%;
      padding: 0 55px;
      height: 48px;
      border-radius: 8px;
      border: none;
      background-color: #f1f3f4;
      box-sizing: border-box;
      outline: none;

      &:focus {
        box-shadow: 0 1px 5px -2px black;
        background-color: white;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.7;
      border-radius: 50%;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(169, 169, 169, 0.3);
      }

      img {
        padding: 7px;
      }
    }

    .search-svg {
      left: 10px;
    }
    .x-svg {
      right: 10px;

      // visibility: hidden;
    }
  }
}

.header-with-shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}
