.component-masonry-grid {
  .masonry-grid-item {
    .pinned-others-title {
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0.6;
      margin-left: 15px;
    }

    .card {
      width: 218px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 15px 15px 10px;
      margin-bottom: 15px;
      border-radius: 8px;
      position: relative;
      cursor: default;

      &:hover {
        box-shadow: 0 1px 5px -2px black;

        .control-panel {
          opacity: 1;
        }
      }

      .content {
        .title {
          opacity: 0.9;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          margin-bottom: 15px;
          font-size: 16px;
        }
        .note {
          opacity: 0.8;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 20;
          -webkit-box-orient: vertical;
          margin-bottom: 15px;
        }

        .empty-note {
          font-size: 20px;
          opacity: 0.4;
          margin: 20px 0 10px;
        }
      }

      .control-panel {
        opacity: 0;
        transition: opacity 0.2s;

        img:hover {
          cursor: pointer;
        }

        .top {
          .select-note {
            position: absolute;
            top: -10px;
            left: -10px;
            z-index: 90;
            opacity: 0.3;
          }
        }

        .bottom {
          display: flex;

          .block-left {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            gap: 5px;

            img {
              opacity: 0.7;
              width: 20px;
              height: auto;
              padding: 6px;
              border-radius: 50%;

              &:hover {
                background-color: rgba(169, 169, 169, 0.3);
              }
            }
          }

          .block-right {
            button {
              display: none; // T E M P O R A R Y

              border: none;
              border-radius: 5px;
              background-color: transparent;
              cursor: pointer;
              width: 150px;
              height: 35px;

              &:hover {
                background-color: rgba(169, 169, 169, 0.2);
              }
            }
          }
        }
      }
    }
  }

  .special-element {
    text-align: center;
    padding-top: 150px;
    margin: auto;

    img {
      width: 125px;
      height: auto;
      opacity: 0.2;
    }

    p {
      font-size: 26px;
      font-weight: 300;
      opacity: 0.6;
    }
  }
}

@media (max-width: 2730px) {
  .masonry-grid-item {
    width: 2385px;
  }
}
@media (max-width: 2465px) {
  .masonry-grid-item {
    width: 2120px;
  }
}
@media (max-width: 2200px) {
  .masonry-grid-item {
    width: 1855px;
  }
}
@media (max-width: 1935px) {
  .masonry-grid-item {
    width: 1590px;
  }
}
@media (max-width: 1670px) {
  .masonry-grid-item {
    width: 1325px;
  }
}
@media (max-width: 1405px) {
  .masonry-grid-item {
    width: 1060px;
  }
}
@media (max-width: 1140px) {
  .masonry-grid-item {
    width: 795px;
  }
}
@media (max-width: 875px) {
  .masonry-grid-item {
    width: 530px;
  }
}
@media (max-width: 610px) {
  .masonry-grid-item {
    width: 265px;
  }
}

.page-home .card .block-left {
  .restore,
  .delete-forever,
  .unarchive {
    display: none;
  }
}
.page-archive .card .block-left {
  .restore,
  .delete-forever,
  .archive {
    display: none;
  }
}
.page-trash .card .block-left {
  .pin,
  .archive,
  .unarchive,
  .delete-note {
    display: none;
  }
}
